<footer class="py-lg-3 py-md-2 py-sm-3 py-2">
    <div class="container py-lg-4 py-md-4 py-sm-3 py-3">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 footer-bottom-txt">
          <h2>
            <a href="index">Sail-Trip</a>
          </h2>
          <p class="pt-lg-4 pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 footer-bottom-txt">
          <div class="footer-icons pt-lg-5 pt-md-4 mt-3">
            <ul>
              <li>
                <a href="#">
                  <span class="fa fa-facebook mr-lg-3 mr-2"></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="fa fa-twitter mr-lg-3 mr-2"></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="fa fa-rss mr-lg-3 mr-2"></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="fa fa-envelope mr-lg-3 mr-2"></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="fa fa-instagram mr-lg-3 mr-2"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- move icon -->
      <div class="text-center">
        <a href="#home" class="move-top text-center mt-3">
          <span class="fa fa-arrow-up" aria-hidden="true"></span>
        </a>
      </div>
      <!--//move icon -->
    </div>
  </footer>
  <!--//footer -->
  <!-- footer-copy-write -->
  <div class="footer-copy-write py-3">
    <div class="container py-2">
      <div class="bottem-txt-footer text-center">
        <p>
          © 2019 Sail-Trip . All Rights Reserved | Design by
          <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a>
        </p>
      </div>
    </div>
  </div>